{% extends 'layouts/app.twig' %}

{% block head %}
	<title>Binsta - Login</title>
{% endblock %}

{% block main %}
	<div class="container px-4 mt-4 d-flex flex-column align-items-center">
		<form class="mt-5" action="/user/loginpost" method="POST" enctype="multipart/form-data">
			<fieldset>
				<legend>Log into your account</legend>
				<div class="mb-3">
					<label for="name" class="form-label">Username</label>
					<input name="username" type="text" id="name" class="form-control" placeholder="Name" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
				</div>
				<div class="mb-3"></div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</fieldset>
		</form>
		{% if session.message is defined %}
			<div class="mt-5 alert alert-danger" role="alert">
				{{ session.message }}
			</div>
		{% endif %}
	</div>
{% endblock %}
